
.vs/TheGorillaWatch/DesignTimeBuild/.dtbcache.v2
.vs/TheGorillaWatch/FileContentIndex/bfba1e6e-a627-4af7-975f-036b6ad52490.vsidx
.vs/TheGorillaWatch/v17/.suo
bin/Debug/netstandard2.1/0Harmony.dll
bin/Debug/netstandard2.1/0Harmony.xml
bin/Debug/netstandard2.1/AA.Mothership.dll
bin/Debug/netstandard2.1/ALINE.dll
bin/Debug/netstandard2.1/Assembly-CSharp-firstpass.dll
bin/Debug/netstandard2.1/Assembly-CSharp.dll
bin/Debug/netstandard2.1/AssistantCoreSDKRuntime.dll
bin/Debug/netstandard2.1/AstarPathfindingProject.dll
bin/Debug/netstandard2.1/Backtrace.Unity.dll
bin/Debug/netstandard2.1/BakeryRuntimeAssembly.dll
bin/Debug/netstandard2.1/BepInEx.dll
bin/Debug/netstandard2.1/BepInEx.Harmony.dll
bin/Debug/netstandard2.1/BepInEx.Harmony.xml
bin/Debug/netstandard2.1/BepInEx.xml
bin/Debug/netstandard2.1/Cinemachine.dll
bin/Debug/netstandard2.1/Fusion.Common.dll
bin/Debug/netstandard2.1/Fusion.Log.dll
bin/Debug/netstandard2.1/Fusion.Realtime.dll
bin/Debug/netstandard2.1/Fusion.Runtime.dll
bin/Debug/netstandard2.1/Fusion.Sockets.dll
bin/Debug/netstandard2.1/Fusion.Unity.dll
bin/Debug/netstandard2.1/KID.dll
bin/Debug/netstandard2.1/Meta.VoiceSDK.Mic.Common.dll
bin/Debug/netstandard2.1/Meta.VoiceSDK.Mic.Other.dll
bin/Debug/netstandard2.1/Meta.WitAi.Conduit.dll
bin/Debug/netstandard2.1/Meta.WitAi.dll
bin/Debug/netstandard2.1/Meta.WitAi.Lib.dll
bin/Debug/netstandard2.1/Meta.WitAi.TTS.dll
bin/Debug/netstandard2.1/Mono.Cecil.dll
bin/Debug/netstandard2.1/Mono.Security.dll
bin/Debug/netstandard2.1/MonoMod.RuntimeDetour.dll
bin/Debug/netstandard2.1/MonoMod.RuntimeDetour.xml
bin/Debug/netstandard2.1/MonoMod.Utils.dll
bin/Debug/netstandard2.1/MonoMod.Utils.xml
bin/Debug/netstandard2.1/NanoSockets.dll
bin/Debug/netstandard2.1/Newtonsoft.Json.dll
bin/Debug/netstandard2.1/Oculus.Interaction.dll
bin/Debug/netstandard2.1/Oculus.Platform.dll
bin/Debug/netstandard2.1/Oculus.VR.dll
bin/Debug/netstandard2.1/Pathfinding.ClipperLib.dll
bin/Debug/netstandard2.1/Pathfinding.Ionic.Zip.Reduced.dll
bin/Debug/netstandard2.1/Pathfinding.Poly2Tri.dll
bin/Debug/netstandard2.1/Photon3Unity3D.dll
bin/Debug/netstandard2.1/PhotonRealtime.dll
bin/Debug/netstandard2.1/PhotonUnityNetworking.dll
bin/Debug/netstandard2.1/PhotonUnityNetworking.Utilities.dll
bin/Debug/netstandard2.1/PhotonVoice.API.dll
bin/Debug/netstandard2.1/PhotonVoice.dll
bin/Debug/netstandard2.1/PhotonVoice.Fusion.dll
bin/Debug/netstandard2.1/PhotonVoice.PUN.dll
bin/Debug/netstandard2.1/PlayFab.dll
bin/Debug/netstandard2.1/Sirenix.OdinInspector.Attributes.dll
bin/Debug/netstandard2.1/SteamVR.dll
bin/Debug/netstandard2.1/SteamVR_Actions.dll
bin/Debug/netstandard2.1/System.EnterpriseServices.dll
bin/Debug/netstandard2.1/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/netstandard2.1/System.ServiceModel.Internals.dll
bin/Debug/netstandard2.1/TheGorillaWatch.deps.json
bin/Debug/netstandard2.1/TheGorillaWatch.dll
bin/Debug/netstandard2.1/TheGorillaWatch.pdb
bin/Debug/netstandard2.1/Unity.Addressables.dll
bin/Debug/netstandard2.1/Unity.Animation.Rigging.dll
bin/Debug/netstandard2.1/Unity.Burst.dll
bin/Debug/netstandard2.1/Unity.Burst.Unsafe.dll
bin/Debug/netstandard2.1/Unity.Collections.dll
bin/Debug/netstandard2.1/Unity.Collections.LowLevel.ILSupport.dll
bin/Debug/netstandard2.1/Unity.InputSystem.dll
bin/Debug/netstandard2.1/Unity.Mathematics.dll
bin/Debug/netstandard2.1/Unity.Profiling.Core.dll
bin/Debug/netstandard2.1/Unity.RenderPipeline.Universal.ShaderLibrary.dll
bin/Debug/netstandard2.1/Unity.RenderPipelines.Core.Runtime.dll
bin/Debug/netstandard2.1/Unity.RenderPipelines.Universal.Runtime.dll
bin/Debug/netstandard2.1/Unity.ResourceManager.dll
bin/Debug/netstandard2.1/Unity.Splines.dll
bin/Debug/netstandard2.1/Unity.TextMeshPro.dll
bin/Debug/netstandard2.1/Unity.Timeline.dll
bin/Debug/netstandard2.1/Unity.XR.CoreUtils.dll
bin/Debug/netstandard2.1/Unity.XR.Interaction.Toolkit.dll
bin/Debug/netstandard2.1/Unity.XR.Management.dll
bin/Debug/netstandard2.1/Unity.XR.OpenVR.dll
bin/Debug/netstandard2.1/UnityEngine.AccessibilityModule.dll
bin/Debug/netstandard2.1/UnityEngine.AIModule.dll
bin/Debug/netstandard2.1/UnityEngine.AndroidJNIModule.dll
bin/Debug/netstandard2.1/UnityEngine.AnimationModule.dll
bin/Debug/netstandard2.1/UnityEngine.ARModule.dll
bin/Debug/netstandard2.1/UnityEngine.AssetBundleModule.dll
bin/Debug/netstandard2.1/UnityEngine.AudioModule.dll
bin/Debug/netstandard2.1/UnityEngine.ClothModule.dll
bin/Debug/netstandard2.1/UnityEngine.ClusterInputModule.dll
bin/Debug/netstandard2.1/UnityEngine.ClusterRendererModule.dll
bin/Debug/netstandard2.1/UnityEngine.ContentLoadModule.dll
bin/Debug/netstandard2.1/UnityEngine.CoreModule.dll
bin/Debug/netstandard2.1/UnityEngine.CrashReportingModule.dll
bin/Debug/netstandard2.1/UnityEngine.DirectorModule.dll
bin/Debug/netstandard2.1/UnityEngine.dll
bin/Debug/netstandard2.1/UnityEngine.DSPGraphModule.dll
bin/Debug/netstandard2.1/UnityEngine.GameCenterModule.dll
bin/Debug/netstandard2.1/UnityEngine.GridModule.dll
bin/Debug/netstandard2.1/UnityEngine.HotReloadModule.dll
bin/Debug/netstandard2.1/UnityEngine.ImageConversionModule.dll
bin/Debug/netstandard2.1/UnityEngine.IMGUIModule.dll
bin/Debug/netstandard2.1/UnityEngine.InputLegacyModule.dll
bin/Debug/netstandard2.1/UnityEngine.InputModule.dll
bin/Debug/netstandard2.1/UnityEngine.JSONSerializeModule.dll
bin/Debug/netstandard2.1/UnityEngine.LocalizationModule.dll
bin/Debug/netstandard2.1/UnityEngine.NVIDIAModule.dll
bin/Debug/netstandard2.1/UnityEngine.ParticleSystemModule.dll
bin/Debug/netstandard2.1/UnityEngine.PerformanceReportingModule.dll
bin/Debug/netstandard2.1/UnityEngine.Physics2DModule.dll
bin/Debug/netstandard2.1/UnityEngine.PhysicsModule.dll
bin/Debug/netstandard2.1/UnityEngine.ProfilerModule.dll
bin/Debug/netstandard2.1/UnityEngine.PropertiesModule.dll
bin/Debug/netstandard2.1/UnityEngine.ScreenCaptureModule.dll
bin/Debug/netstandard2.1/UnityEngine.SharedInternalsModule.dll
bin/Debug/netstandard2.1/UnityEngine.SpatialTracking.dll
bin/Debug/netstandard2.1/UnityEngine.SpriteMaskModule.dll
bin/Debug/netstandard2.1/UnityEngine.SpriteShapeModule.dll
bin/Debug/netstandard2.1/UnityEngine.StreamingModule.dll
bin/Debug/netstandard2.1/UnityEngine.SubstanceModule.dll
bin/Debug/netstandard2.1/UnityEngine.SubsystemsModule.dll
bin/Debug/netstandard2.1/UnityEngine.TerrainModule.dll
bin/Debug/netstandard2.1/UnityEngine.TerrainPhysicsModule.dll
bin/Debug/netstandard2.1/UnityEngine.TextCoreFontEngineModule.dll
bin/Debug/netstandard2.1/UnityEngine.TextCoreTextEngineModule.dll
bin/Debug/netstandard2.1/UnityEngine.TextRenderingModule.dll
bin/Debug/netstandard2.1/UnityEngine.TilemapModule.dll
bin/Debug/netstandard2.1/UnityEngine.TLSModule.dll
bin/Debug/netstandard2.1/UnityEngine.UI.dll
bin/Debug/netstandard2.1/UnityEngine.UIElementsModule.dll
bin/Debug/netstandard2.1/UnityEngine.UIModule.dll
bin/Debug/netstandard2.1/UnityEngine.UmbraModule.dll
bin/Debug/netstandard2.1/UnityEngine.UnityAnalyticsCommonModule.dll
bin/Debug/netstandard2.1/UnityEngine.UnityAnalyticsModule.dll
bin/Debug/netstandard2.1/UnityEngine.UnityConnectModule.dll
bin/Debug/netstandard2.1/UnityEngine.UnityCurlModule.dll
bin/Debug/netstandard2.1/UnityEngine.UnityTestProtocolModule.dll
bin/Debug/netstandard2.1/UnityEngine.UnityWebRequestAssetBundleModule.dll
bin/Debug/netstandard2.1/UnityEngine.UnityWebRequestAudioModule.dll
bin/Debug/netstandard2.1/UnityEngine.UnityWebRequestModule.dll
bin/Debug/netstandard2.1/UnityEngine.UnityWebRequestTextureModule.dll
bin/Debug/netstandard2.1/UnityEngine.UnityWebRequestWWWModule.dll
bin/Debug/netstandard2.1/UnityEngine.VehiclesModule.dll
bin/Debug/netstandard2.1/UnityEngine.VFXModule.dll
bin/Debug/netstandard2.1/UnityEngine.VideoModule.dll
bin/Debug/netstandard2.1/UnityEngine.VirtualTexturingModule.dll
bin/Debug/netstandard2.1/UnityEngine.VRModule.dll
bin/Debug/netstandard2.1/UnityEngine.WindModule.dll
bin/Debug/netstandard2.1/UnityEngine.XR.LegacyInputHelpers.dll
bin/Debug/netstandard2.1/UnityEngine.XRModule.dll
bin/Debug/netstandard2.1/Valve.Newtonsoft.Json.dll
bin/Debug/netstandard2.1/VoiceSDK.Runtime.dll
bin/Debug/netstandard2.1/websocket-sharp.dll
bin/Debug/netstandard2.1/ZString.dll
obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
obj/Debug/netstandard2.1/TheGoril.744754FE.Up2Date
obj/Debug/netstandard2.1/TheGorillaWatch.AssemblyInfo.cs
obj/Debug/netstandard2.1/TheGorillaWatch.AssemblyInfoInputs.cache
obj/Debug/netstandard2.1/TheGorillaWatch.assets.cache
obj/Debug/netstandard2.1/TheGorillaWatch.csproj.AssemblyReference.cache
obj/Debug/netstandard2.1/TheGorillaWatch.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.1/TheGorillaWatch.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.1/TheGorillaWatch.dll
obj/Debug/netstandard2.1/TheGorillaWatch.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netstandard2.1/TheGorillaWatch.pdb
obj/Debug/netstandard2.1/TheGorillaWatch.sourcelink.json
obj/project.assets.json
obj/project.nuget.cache
obj/TheGorillaWatch.csproj.nuget.dgspec.json
obj/TheGorillaWatch.csproj.nuget.g.props
obj/TheGorillaWatch.csproj.nuget.g.targets
.vs/TheGorillaWatch/FileContentIndex/9326949f-9220-45a8-b7b0-d67c6364824b.vsidx
.vs/TheGorillaWatch/FileContentIndex/8378f9f5-f7ed-44ff-92b4-cf485b448933.vsidx
.vs/TheGorillaWatch/FileContentIndex/28b162cc-4763-4c21-8f47-f876b6617fa9.vsidx
/Directory.Build.props
Directory.Build.props
.vs
/Directory.Build.props
